@model IEnumerable<Social.ViewModels.MessageListViewModel>

@{
    ViewData["Title"] = "Message List";
}

<h1>Message List from @Html.DisplayFor(modelItem => modelItem.First().sender)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Time Received
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.messageID">@Html.DisplayFor(modelItem => item.title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeSent)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.messageID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
